<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
</head>

<!-- Style configurations for each element of starter page -->
<style>
    body { background-color: #ebf6fc; }
    h1 { text-align: center; }
    h5 { text-align: center; }
</style>

<body>
<!-- Starting page heading describing portal purpose -->
<br>
<h1>Nittany Hospital Admin Portal</h1>
<h5>This portal allows administrators to manage the hospital's patient database.</h5>
<br>

<!-- Dropdown Menu -->
<div class="container-sm" align="center">
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <!-- Each option redirects to the page of corresponding action -->
        <a class="dropdown-item" href="/name">Add patient</a>
        <a class="dropdown-item" href="/delete">Delete patient</a>
    </div>
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">Go to page</a>
</div>

{#    <!-- Buttons that go to each page -->#}
{#    <div class="card-body" align="center">#}
{#        <a class="btn btn-primary" href="/name" role="button">Add Patient Name</a>#}
{#        <a class="btn btn-danger" href="/delete" role="button">Delete Patient Name</a>#}
{#    </div>#}
</div>


<!-- Imported bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>