<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>User Registration | NittanyBusiness</title>
</head>


<body>
    <p>Already a user? <a href="/" style="color: green;">Login here!</a></p>
    <p class="imp-txt">{{ error }}</p>
    <form action="/signup" method="POST" class="formarea">
        <div class="formrow-container">
            <label>Email ID: </label>
            <input type="text" name="email">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Password: </label>
            <input type="text" name="pass">
        </div>
        <br>
        <br>
        <h3>Personal Information</h3>
        <div class="formrow-container">
            <label>First Name: </label>
            <input type="text" name="firstname">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Last Name: </label>
            <input type="text" name="lastname">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Gender: </label>
            <input type="text" name="gender">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Age: </label>
            <input type="text" name="age">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Major: </label>
            <input type="text" name="major">
        </div>
        <br>
        <br>

        <h3>Home Address</h3>
        <div class="formrow-container">
            <label>Street Name: </label>
            <input type="text" name="streetname">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Street Num: </label>
            <input type="text" name="streetnum">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Zipcode: </label>
            <input type="text" name="zipcode">
        </div>
        <br>
        <br>

        <h3>Credit Card Details</h3>
        <div class="formrow-container">
            <label>Credit Card Number: </label>
            <input type="text" name="cardnum">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Card Type: </label>
            <input type="text" name="cardtype">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Expiry Month: </label>
            <input type="text" name="expiremonth">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Expiry Year: </label>
            <input type="text" name="expireyear">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Security Code: </label>
            <input type="text" name="seccode">
        </div>
        <br>
        <br>
        <button type="submit" class="log-btn">Signup</button>
    </form>
</body>

<!-- Imported bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</html>