<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>User Registration | NittanyBusiness</title>
</head>


<body>
    <p>Already a user? <a href="/" style="color: green;">Login here!</a></p>
    <p class="imp-txt">{{ error }}</p>
    <form action="/signup" method="POST" class="formarea">
        <div class="formrow-container">
            <label>Email ID: </label>
            <input type="text" name="email">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Password: </label>
            <input type="text" name="pass">
        </div>
        <br>
        <br>
        <h3>Personal Information</h3>
        <div class="formrow-container">
            <label>First Name: </label>
            <input type="text" name="firstname">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Last Name: </label>
            <input type="text" name="lastname">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Gender: </label>
            <input type="text" name="gender">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Age: </label>
            <input type="text" name="age">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Major: </label>
            <input type="text" name="major">
        </div>
        <br>
        <br>

        <h3>Home Address</h3>
        <div class="formrow-container">
            <label>Street Name: </label>
            <input type="text" name="streetname">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Street Num: </label>
            <input type="text" name="streetnum">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Zipcode: </label>
            <input type="text" name="zipcode">
        </div>
        <br>
        <br>

        <h3>Credit Card Details</h3>
        <div class="formrow-container">
            <label>Credit Card Number: </label>
            <input type="text" name="cardnum">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Card Type: </label>
            <input type="text" name="cardtype">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Expiry Month: </label>
            <input type="text" name="expiremonth">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Expiry Year: </label>
            <input type="text" name="expireyear">
        </div>
        <br>
        <br>
        <div class="formrow-container">
            <label>Security Code: </label>
            <input type="text" name="seccode">
        </div>
        <br>
        <br>
        <button type="submit" class="log-btn">Signup</button>
    </form>
</body>
</html>